.container-nav {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}