@font-face {
    font-family: "mukta-semibold";
    src: url(/fonts/Mukta-Bold.ttf);
}

.container-nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.1em;
}

nav {
    width: 30%;
    padding: 0;
    margin: 0;
}

* {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #646464;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: brown;
    font-family: 'mukta-semibold';
    background: #212529;
}

.container-header {
    width: 100%;
    margin-top: 100px;
}

img {
    width: 7em;
    margin-top: 3px;
}

@media (max-width: 500px) {
    .container-nav {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        list-style: none;
        flex-direction: column;
    }
    header {
        flex-direction: column;
        background-color: brown;
    }
}