@font-face {
    font-family: "mukta-semibold";
    src: url(/fonts/Mukta-Bold.ttf);
}

@font-face {
    font-family: "mukta-extralight";
    src: url(/fonts/Mukta-ExtraLight.ttf);
}

@font-face {
    font-family: "mukta-light";
    src: url(/fonts/Mukta-Light.ttf);
}

.container-nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    font-size: 1.1em;
}

nav {
    width: 30%;
    padding: 0;
    margin: 0;
}

* {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #646464;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: brown;
    font-family: 'mukta-semibold';
    background: #212529;
}

.container-header {
    width: 100%;
    padding-top: 3em;
    padding-bottom: 3em;
}

.container-index {
    width: 50%;
}

.container-index {
    width: 50%;
}

img {
    width: 7em;
    margin-top: 3px;
}

h1 {
    color: white;
    font-size: 4em;
    text-align: center;
    line-height: 1.3em;
}

p {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'mukta-extraligh';
    text-align: center;
    font-size: 1.3em;
}

.flexbox-space-around-botones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
    margin-top: 2em;
}

.container-botonera .btn-primary {
    width: 25%;
    height: 50px;
    color: white;
    background-color: #0c4ea2;
    outline: 0;
    border-radius: 15px;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: 'Lato';
}

.container-botonera .btn-secondary {
    width: 25%;
    height: 50px;
    outline: 0;
    border-radius: 15px;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: 'Lato';
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
}

.flexbox-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.seccion-info {
    background-color: white;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccion-info h2 {
    margin: 0px;
    padding: 0;
    width: 36%;
    color: black;
    line-height: 1.2em;
    text-align: center;
    font-family: 'mukta-light';
    font-size: 3.0em;
    text-transform: uppercase;
}

.seccion-info h4 {
    margin: 20px 0px 0px 0px;
    padding: 0;
    text-align: center;
    width: 30%;
    color: black;
    font-family: 'mukta-light';
    font-size: 1.03em;
}

.container-info {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
}

.container-img-info {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.container-img-info img {
    width: 70%;
}

.container-img-info p {
    color: black;
    font-size: 1em;
    font-family: 'mukta-light';
}

.img-container {
    width: 50%;
}

@media (max-width: 500px) {
    .container-nav {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        list-style: none;
        flex-direction: column;
    }
    header {
        flex-direction: column;
    }
}

@media (max-width:1200px) and (min-width:800px) {
    .container-info {
        width: 100%;
    }
    .container-img-info img {
        width: 40%;
    }
}

@media (max-width:822px) {
    .seccion-info h2 {
        width: 70%;
    }
    .seccion-info h4 {
        width: 70%;
    }
}

@media (max-width:1141px) {
    .container-botonera .btn-primary {
        width: 100%;
    }
    .container-botonera .btn-secondary {
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width:870px) {
    h1 {
        font-size: 2em;
        margin-bottom: 1em;
    }
}

@media (max-width:800px) {
    .seccion-info h2 {
        font-size: 2.4em;
        text-align: center;
        width: 100%;
    }
    .seccion-info h4 {
        font-size: 1.2em;
        text-align: center;
        width: 100%;
    }
    .container-info {
        flex-direction: column;
        margin: 0;
    }
    .container-img-info {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 40px;
    }
    .container-img-info img {
        width: 50%;
    }
    .container-img-info p {
        font-size: 11px;
        width: 70%;
    }
}